$opts.headerOptions
LOAD DATA
$opts.charSet
infile * "fix $maxLength"
$opts.loadType
INTO TABLE CHANGEME!!.$tableName
(
#foreach($column in $allColumns)$column.name                    POSITION ($column.startPosition:$column.endPosition)#if( $foreach.hasNext ),#end$nl#end
)	